<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
	<header layout:include="Cabecalho" ></header>

	<section layout:fragment="conteudo" class="container-fluid">
	</section>

	<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>